@use 'sass:map';
@import 'variables';

article {
  padding-top: var(--headerHeight);
  margin-top: calc(var(--headerHeight) * -1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-weight: 300;
    margin: 0;

    a {
      position: relative;
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 0;
      transition: all 0.25s;
      color: $primaryColor;
      z-index: 1;
      margin-left: 10px;

      &:visited {
        color: $primaryColor;
      }

      &:hover {
        color: darken($primaryColor, 15%);
        background-size: 100% 2px;
      }

      &::before, &::after {
        display: block;
        position: absolute;
        z-index: 1;
        top: 2px;
        color: #000;
      }

      &::before {
        content: '[';
        left: $sourceLinkPseudoGap;
      }

      &::after {
        content: ']';
        right: $sourceLinkPseudoGap;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: map.get($grid, 'sm')) {
      flex-direction: row;
      justify-content: center;
    }

    @media screen and (min-width: map.get($grid, 'md')) {
      justify-content: flex-start;
      align-items: flex-start;
    }

    svg {
      width: 100%;
      height: auto;

      @media screen and (min-width: map.get($grid, 'sm')) {
        width: calc(50vw - 30px);
      }

      @media screen and (min-width: map.get($grid, 'md')) {
        width: 200px;
      }
    }
  }

  .code {
    width: calc(100vw - 40px);

    @media screen and (min-width: map.get($grid, 'md')) {
      max-height: 200px;
      width: auto;
      flex: 1;
    }
  }
}
