@use 'sass:map';
@import 'variables';

html, body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  counter-reset: heading;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding-top: 15px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 8px;

  &::before {
    counter-increment: heading;
    content: '' counter(heading) '. ';
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

main {
  padding: 15px 0;
}

svg {
  display: block;
  border: 1px dashed #ccc;
  box-sizing: border-box;
}

.code {
  background-color: #1e1e1e;
  padding: 15px 30px;
  margin: 0;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
