.gb {
  &__item {
    fill: #cd803d;
    stroke: #cd803d;
  }

  &__eye {
    fill: #fff;
  }

  &__mouth {
    stroke: #fff;
    fill: none;
    stroke-width: 2px;
  }

  &__line {
    stroke-width: 35px;
    stroke-linecap: round;
  }
}