@import 'variables';

header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #fff;
  padding-top: 16px;
  margin-bottom: 10px;
  transition: box-shadow 0.2s;

  &.scroll {
    box-shadow: 1px 3px 20px 0 $primaryColor;
  }
}

nav {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    white-space: nowrap;
    border: 1px solid $primaryColor;
    border-radius: 30px;
    padding: 7px 30px;
    text-decoration: none;
    background-color: $primaryColor;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      background-color: #fff;
      color: $primaryColor;
    }
  }
}
