@mixin blackStroke($width: 1px) {
  stroke: #000;
  stroke-width: $width;
}

.house {
  &__wall {
    @include blackStroke(2px);
    fill: #fff;
  }

  &__roof {
    fill: none;
    stroke: #d1495b;
    stroke-width: 10px;
    stroke-linecap: round;
  }

  &__window {
    @include blackStroke();
    fill: #fdea96;
  }

  &__window-line {
    @include blackStroke();
  }

  &__door, &__sill {
    @include blackStroke();
    fill: #d1495b;
  }
  &__stairs {
    @include blackStroke();
    fill: gray;
  }

  &__door-knob {
    @include blackStroke();
    fill: #fff;
  }
}