<article>
  <h3>
    Basic shapes
    <a href="https://svg-tutorial.com/svg/basic-shapes" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 120 120">
      <circle r="35" cx="60" cy="73" fill="#D1495B"/>
      <rect x="50" y="32" width="20" height="10" fill="#F79257"/>
      <circle r="7" cx="60" cy="26" stroke="#F79257" fill="none" stroke-width="1"/>
    </svg>
  </div>
</article>
