<article>
  <h3>
    Basic path
    <a href="https://svg-tutorial.com/svg/basic-path" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 100 100">
      <path d="M 20 25 L 80 25 M 20 50 L 80 50 M 20 75 L 80 75" stroke-width="10" stroke-linecap="round" stroke="#333" />
    </svg>

    <svg width="200" height="200" viewBox="0 0 100 100">
      <path d="M 32 40 L 50 58 L 68 40" stroke-width="40" stroke-linecap="round" stroke="#D1495B" fill="none" />
    </svg>

    <svg width="200" height="200" viewBox="0 0 100 100">
      <path d="M 32 40 L 50 58 L 68 40" stroke-width="5" stroke-linecap="round" stroke="#333" fill="none" />
    </svg>

    <svg width="200" height="200" viewBox="0 0 100 100">
      <path d="M 20 50 L 80 50 L 60 30 M 80 50 L 60 70" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke="#D1495B" fill="none" />
    </svg>
  </div>
</article>
