<article>
  <h3>
    Clip path
    <a href="https://svg-tutorial.com/svg/clip-path" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 120 120">
      <defs>
        <clipPath id="mask">
          <circle r="35" cx="60" cy="70"/>
        </clipPath>
      </defs>

      <circle r="35" cx="60" cy="70" fill="#D1495B"/>
      <rect x="50" y="24" width="20" height="15" fill="#F79257"/>
      <circle r="7" cx="60" cy="18" stroke="#F79257" fill="none" stroke-width="1"/>

      <polyline points="20,60 40,80 60,60 80,80 100,60" stroke="#9C2D2A" fill="none" stroke-width="10" clip-path="url(#mask)"/>
    </svg>
  </div>
</article>
