<article>
  <h3>
    Cubic Bézier Curves
    <a href="https://svg-tutorial.com/svg/cubic-bezier" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <path d="M -50,50 C -60,-50 60,-50 50,50" fill="none" stroke="red" />
      <circle cx="-60" cy="-50" r="2" />
      <circle cx="60" cy="-50" r="2" />
    </svg>

    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <defs>
        <path id="ribbon" d="M 0,-43 L 20,-43 C 55,-50 55,-100 0,-45" stroke="#b73a3b" stroke-width="3" fill="none" />
      </defs>

      <use href="#ribbon" />
      <use href="#ribbon" transform="scale(-1, 1)" />
      <circle r="10" cx="0" cy="-43" fill="#a9172a" />

      <rect x="-60" y="-41" width="120" height="20" fill="#d1495b" stroke="#000" stroke-width="2" />
      <rect x="-25" y="-41" width="50" height="20" fill="#fff" stroke="#000" stroke-width="2" />

      <rect x="-51" y="-21" width="102" height="80" fill="#d1495b" stroke="#000" stroke-width="2" />
      <rect x="-17" y="-21" width="34" height="80" fill="#fff" stroke="#000" stroke-width="2" />
    </svg>
  </div>
</article>
