<article>
  <h3>
    Gingerbread Figure
    <a href="https://svg-tutorial.com/svg/gingerbread-figure" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 200 200" class="gb">
      <circle class="gb__head gb__item" r="30" cx="100" cy="52"/>

      <circle class="gb__eye" r="3" cx="88" cy="42"/>
      <circle class="gb__eye" r="3" cx="112" cy="42"/>
      <rect class="gb__mouth" x="90" y="62" width="20" height="5" rx="2"/>

      <line class="gb__item gb__line" x1="50" x2="150" y1="93" y2="93"/>
      <line class="gb__item gb__line" x1="100" x2="70" y1="93" y2="158"/>
      <line class="gb__item gb__line" x1="100" x2="130" y1="93" y2="158"/>

      <circle r="5" cx="100" cy="90"/>
      <circle r="5" cx="100" cy="110"/>
    </svg>
  </div>
</article>
