<article>
  <h3>
    Gradient
    <a href="https://svg-tutorial.com/svg/gradient" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 120 120">
      <defs>
        <radialGradient id="shine" cx="0.25" cy="0.25" r="0.35">
          <stop offset="0%" stop-color="#e3a8b0" />
          <stop offset="100%" stop-color="#D1495B" />
        </radialGradient>
      </defs>

      <circle r="35" cx="60" cy="73" fill="url(#shine)"/>
      <rect x="50" y="32" width="20" height="10" fill="#F79257"/>
      <circle r="7" cx="60" cy="26" stroke="#F79257" fill="none" stroke-width="1"/>
    </svg>

    <svg width="200" height="200" viewBox="-100 -100 200 200" style="background-color: lightblue">
      <defs>
        <radialGradient id="snowball" cx="0.25" cy="0.25" r="1">
          <stop offset="0%" stop-color="#fff" />
          <stop offset="50%" stop-color="#fff" />
          <stop offset="100%" stop-color="#d6d6d6" />
        </radialGradient>
      </defs>

      <circle r="50" cx="0" cy="28" fill="url(#snowball)" />
      <circle r="33" cx="0" cy="-30" fill="url(#snowball)" />

      <line x1="-25" y1="20" x2="-60" y2="-20" stroke-width="4" stroke="#000" />
      <line x1="-43" y1="0" x2="-62" y2="-6" stroke-width="4" stroke="#000" />

      <circle r="3" cx="15" cy="-40" fill="#000" />
      <circle r="3" cx="5" cy="-40" fill="#000" />
      <polygon points="10,-34 32,-31 10,-28" fill="#e66465" />
    </svg>
  </div>
</article>
