<article>
  <h3>
    House
    <a href="https://svg-tutorial.com/svg/house" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 200 200" class="house">
      <polyline class="house__roof" points="16,95 100,23 184,95"/>

      <polygon class="house__wall" points="30,90 100,30 170,90 170,170 30,170"/>

      <circle class="house__window" r="15" cx="100" cy="80"/>
      <line class="house__window-line" x1="100" x2="100" y1="65" y2="95"/>
      <line class="house__window-line" x1="85" x2="115" y1="80" y2="80"/>

      <rect class="house__window" x="110" y="110" width="40" height="30" rx="5"/>
      <line class="house__window-line" x1="130" x2="130" y1="110" y2="140"/>
      <line class="house__window-line" x1="110" x2="150" y1="125" y2="125"/>
      <rect class="house__sill" x="108" y="138" width="44" height="4" rx="4" />

      <rect class="house__stairs" x="48" y="162" height="4" width="34" />
      <rect class="house__stairs" x="46" y="166" height="4" width="38" />

      <rect class="house__door" x="50" y="102" width="30" height="60" rx="2" />
      <circle class="house__door-knob" cx="58" cy="132" r="1.2" />
    </svg>
  </div>
</article>
