<main>
  <div class="container">
    <section>
      <h2>Examples</h2>
      {{> basicShapes }}
      {{> polygon }}
      {{> gingerBread }}
      {{> house }}
      {{> clipPath }}
      {{> basicPath }}
      {{> transform }}
      {{> reusableElements }}
      {{> forest }}
      {{> gradient }}
      {{> quadraticBezierCurves }}
      {{> cubicBezierCurves }}
    </section>
  </div>
</main>
