<article>
  <h3>
    Polygon
    <a href="https://svg-tutorial.com/svg/polygon" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="0 0 200 200">
      <polygon points="100,70 150,160 50,160" fill="#234236"/>
      <polygon points="100,40 140,120 60,120" fill="#0C5C4C"/>
      <polygon points="100,10 130,80 70,80" fill="#38755B"/>
      <rect x="90" y="160" width="20" height="20" fill="#73401e"/>
    </svg>
  </div>
</article>
