<article>
  <h3>
    Quadratic Bézier Curves
    <a href="https://svg-tutorial.com/svg/quadratic-bezier" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <circle cx="-50" cy="-50" r="20" />
      <circle cx="50" cy="-50" r="20" />
      <path d="M -70,50 Q 0,100 70,50" fill="none" stroke-width="10" stroke-linecap="round" stroke="#000" />
    </svg>

    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <path d="M -70,50 Q 50,-50 30,50" fill="none" stroke-width="5" stroke="#000" />
      <circle cx="50" cy="-50" r="7" />
    </svg>

    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <path d="
            M 0,-80
            Q 5,-75 0 -70
            Q -10,-65 0,-60
            Q 15,-55 0,-50
            Q -20,-45 0,-40
            Q 25,-35 0,-30
            Q -30,-25 0,-20
            Q 35,-15 0,-10
            Q -40,-5 0,0
            Q 45,5 0,10
            Q -50,15 0,20
            Q 55,25 0,30
            Q -60,35 0,40
            Q 65,45 0,50
            Q -70,55 0,60
            L 0,80
            M 20,80
            L -20,80"
            fill="none" stroke-width="5" stroke="#0C5C4C" />
    </svg>
  </div>
</article>
