<article>
  <h3>
    Reusable elements
    <a href="https://svg-tutorial.com/svg/use" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <defs>
        <path
          id="branch"
          d="
            M 0,0 L 0,-90
            M 0,-60 L 17,-70
            M 0,-60 L -17,-70
            M 0,-40 L 17,-50
            M 0,-40 L -17,-50
            M 0,-20 L 17,-30
            M 0,-20 L -17,-30"
          stroke="#3fc4ee"
          stroke-width="5"
          stroke-linecap="round"
        />
      </defs>

      <use href="#branch" />
      <use href="#branch" transform="rotate(60)"/>
      <use href="#branch" transform="rotate(120)"/>
      <use href="#branch" transform="rotate(180)"/>
      <use href="#branch" transform="rotate(240)"/>
      <use href="#branch" transform="rotate(300)"/>
    </svg>
  </div>
</article>
