<article>
  <h3>
    Transform
    <a href="https://svg-tutorial.com/svg/transform" target="_blank" rel="noreferrer">source</a>
  </h3>
  <div class="flex">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <g>
        <polygon points="0,0 29,-40 0,-80" fill="#EDD8B7" />
        <polygon points="0,0 -29,-40 0,-80" fill="#E5C39C" />
      </g>
      <g transform="rotate(72)">
        <polygon points="0,0 29,-40 0,-80" fill="#EDD8B7" />
        <polygon points="0,0 -29,-40 0,-80" fill="#E5C39C" />
      </g>
      <g transform="rotate(-72)">
        <polygon points="0,0 29,-40 0,-80" fill="#EDD8B7" />
        <polygon points="0,0 -29,-40 0,-80" fill="#E5C39C" />
      </g>
      <g transform="rotate(144)">
        <polygon points="0,0 29,-40 0,-80" fill="#EDD8B7" />
        <polygon points="0,0 -29,-40 0,-80" fill="#E5C39C" />
      </g>
      <g transform="rotate(-144)">
        <polygon points="0,0 29,-40 0,-80" fill="#EDD8B7" />
        <polygon points="0,0 -29,-40 0,-80" fill="#E5C39C" />
      </g>
    </svg>
  </div>
</article>
